$TTL    604800
@       IN      SOA     ns1.home.lab. admin.home.lab. (
                        2025121701 ; Serial
                        604800     ; Refresh
                        86400      ; Retry
                        2419200    ; Expire
                        604800 )   ; Negative Cache TTL

; Name servers
@       IN      NS      ns1.home.lab.

; DNS server
ns1     IN      A       127.0.0.1

; Hosts
master IN      A       {{ master_ip }}
worker1 IN     A       {{ worker1_ip }}
worker2 IN     A       {{ worker2_ip }}




